In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
BANK = pd.read_csv("https://raw.githubusercontent.com/Robbish1106/PL/main/hw1/A17000000J-020024-sW1.csv", encoding='utf-8') #提供各種繳付國民保險金服務的銀行
BANK.head()

    金資代號  金融機構名稱 代收國保費 轉帳代繳國保費 網路ATM繳納國保費 網路銀行繳納國保費 行動APP繳納國保費
0  700.0    中華郵政     有       有          有         無          有
1    NaN    統一超商     有       無          無         無          無
2    NaN  全家便利商店     有       無          無         無          無
3    NaN    來來超商     有       無          無         無          無
4    NaN   萊爾富超商     有       無          無         無          無

In [59]:
first = BANK.drop(columns=['金資代號','代收國保費','轉帳代繳國保費','網路ATM繳納國保費','行動APP繳納國保費']) #提出"網路銀行繳納國保費"項
first.tail()

       金融機構名稱 網路銀行繳納國保費
46  花蓮第一信用合作社         無
47  花蓮第二信用合作社         無
48  澎湖第一信用合作社         無
49   金門縣信用合作社         無
50      全國繳費網         有

In [60]:
NB = first.drop(first[first['網路銀行繳納國保費']=='無'].index) #把無的排掉
NB

    金融機構名稱 網路銀行繳納國保費
5     臺灣銀行         有
6     土地銀行         有
7   合作金庫銀行         有
8     第一銀行         有
9     華南銀行         有
10    彰化銀行         有
12    高雄銀行         有
13    兆豐銀行         有
15    臺灣企銀         有
16    玉山銀行         有
18  中國信託銀行         有
25    三信銀行         有
27    元大銀行         有
50   全國繳費網         有

In [61]:
second = BANK.drop(columns=['金資代號','代收國保費','轉帳代繳國保費','網路銀行繳納國保費','行動APP繳納國保費']) #提出"網路ATM繳納國保費"項
second.tail()

       金融機構名稱 網路ATM繳納國保費
46  花蓮第一信用合作社          無
47  花蓮第二信用合作社          無
48  澎湖第一信用合作社          無
49   金門縣信用合作社          無
50      全國繳費網          有

In [62]:
NA = second.drop(second[second['網路ATM繳納國保費']=='無'].index) #把無的排掉
NA

    金融機構名稱 網路ATM繳納國保費
0     中華郵政          有
5     臺灣銀行          有
6     土地銀行          有
7   合作金庫銀行          有
8     第一銀行          有
9     華南銀行          有
10    彰化銀行          有
11    台北富邦          有
12    高雄銀行          有
13    兆豐銀行          有
15    臺灣企銀          有
16    玉山銀行          有
25    三信銀行          有
26    聯邦銀行          有
27    元大銀行          有
50   全國繳費網          有

In [63]:
p1 = list(NB['金融機構名稱'])
p2 = list(NA['金融機構名稱'])

In [64]:
ps1 = {str(i) for i in p1}
ps2 = {str(i) for i in p2}

In [65]:
print(ps1|ps2) #聯集:有"網路ATM繳納國保費"和"網路銀行繳納國保費"兩項服務或其一的銀行

{'華南銀行', '中國信託銀行', '中華郵政', '臺灣企銀', '全國繳費網', '聯邦銀行', '台北富邦', '彰化銀行', '土地銀行', '合作金庫銀行', '元大銀行', '兆豐銀行', '三信銀行', '第一銀行', '高雄銀行', '臺灣銀行', '玉山銀行'}

In [66]:
print(ps1&ps2) #交集:"網路ATM繳納國保費"和"網路銀行繳納國保費"兩項服務皆有的銀行

{'土地銀行', '合作金庫銀行', '華南銀行', '元大銀行', '兆豐銀行', '臺灣企銀', '全國繳費網', '三信銀行', '第一銀行', '高雄銀行', '臺灣銀行', '彰化銀行', '玉山銀行'}

In [67]:
print(ps1-ps2) #差集:只有"網路銀行繳納國保費"一項服務的銀行

{'中國信託銀行'}

In [68]:
print(ps1^ps2) #對稱差集:只有"網路銀行繳納國保費"一項或"網路ATM繳納國保費"一項服務的銀行

{'中國信託銀行', '中華郵政', '聯邦銀行', '台北富邦'}